@charset "UTF-8";


section{
    position: absolute;
    margin: auto;
    width: 445px;
    height: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div{
    margin: 12px 10px;
}
h1{
    margin-top: 15px;
    margin-bottom: 15px;
}
input{
   
    height: 20px;
    width: 400px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 0px;

}
#iEntrar:active{
    background-color: #300098;
}
input:focus{
    /*retira os estilos padrões do outline do input*/
    outline:none ;
}
#iEntrar{
    display: block;
    text-align: center;
    background-color: #4C00F5;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
}
#alerta{
    display: none;
    color: red;
    margin-top: 10px;
    margin-bottom: 3px;
}
@media screen and (max-width: 523px) {
    section{
        width: 245px;
        height: 270px;
    }
    input{
        width: 200px;
    }
    
    
}