@charset "UTF-8";

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #6c29fb, black) ;
    background-attachment: fixed;
    height: 100vh;
}