@charset "UTF-8";

body{
    display: flex;
    text-align: center;
}
#contem{
    display: flex;
    color: white;
    flex-direction: column;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}
.item{
    display: flex;
    flex-direction: row;
}
h1{
    font-size: 30px;
    margin: 15px 0px;
}
img {
    border-radius: 20px;
   
    margin: 10px;
}
img:hover{
    outline: 2px solid white;
}
.img-user {
    width: 200px; /* Defina o tamanho da imagem */
    height: 200px; /* Defina a altura para manter as imagens proporcionais */
   
}
.user-name {
    text-align: center;
    margin-top: 10px; /* Espaço entre a imagem e o nome */
}
.col-md-6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Ajustes para telas médias */
@media screen and (mim-width: 768px){
    img {
        max-width: 300px; /* Ajusta o tamanho da imagem em telas médias */
    }
}

/* Ajustes para telas pequenas */
@media screen and (max-width: 576px) {
    img {
        max-width: 150px; /* Ajusta o tamanho da imagem em telas pequenas */
    }
    h1 {
        font-size: 24px; /* Ajusta o tamanho da fonte do título */
    }
}

    

