@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 1, 16);
    background-attachment: fixed;
    height: 100vh;
    
}
#Iinicio{
    background-image: url("../imagens/dexter-300.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    box-shadow: inset 13px -15px 20px  rgb(0, 0, 0);
   
}
#Iinicio aside{
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.853);
    width: 25vw;
    min-width: 350px;
    text-align: justify;
    padding: 15px;
    margin-left: 4vw;

    top: 50%;
}
#Iinicio p{
    font-size: 17px;
}
#Iinicio h1{
    font-size: 9vw;
    color: red;
}
div#play{
    background-color: white;
    text-align: center;
    text-shadow: none;
    font-weight: bold;
    width: 9vw;
    max-width: 90px;
    border-radius: 4px;
    padding: 10px 13px;
    margin-top: 10px;
    
}
#play a{
    color: black;
    text-decoration: none;

}
#play a::before{
    
}

main{
    padding-left: 3%;
    margin-top: 20px;
}
menu{
    position: fixed;
    top: 0px;
   background-image: linear-gradient(to bottom, black, transparent);
    text-align: right;
    width: 99vw;
    margin: 0px;
    padding: 20x 10px;
    
    
}

nav{
    float: left;
    text-align: left;
    padding: 10px 20px;
}
menu a{
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    
}
menu a:hover{
    text-decoration: underline;
}
menu nav a:hover{
    text-decoration: none;
    color: rgb(163, 162, 162);
}

#pesquisa{
   float: left;
   background-color: black;
   margin-right: 20px;
   padding: 0px 5px;
   margin-top: 3px;
   outline: 2px solid white;
   
}
#pesquisa button{
    background-color: transparent;
    color: white;
    width: 40px;
    height: 40px;
    border: 0px;
    padding: 0px;
     
}
#pesquisa input{

    background-color: black;
    color: gray;
    height: 40px;
    border: 0px;
    padding: 0px;
}
input:focus{
    outline: none;
}

#conta img{
    width: 40px;
    height: 40px;
    padding: 5px;

}
#conta{
    float: right;
}
#usuario{

    position: absolute;
    clear: none;
    background-color: rgba(0, 0, 0, 0.785);
    text-align: left;
    width: 200px;
    padding: 5px 0px;
    margin-right: 30px;

    top: 20%;
    left: 90%;
    transform: translate(-50%, 30%);
    
}
#usuario ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#usuario img{
    
    width: 40px;
    height: 40px;
    padding: 5px;
    
}
#usuario li{
    display: flex;
    align-items: center;
    
}
#usuario li>a{
   padding: 5px 3px;
}


hr{

    margin: 5px;
}
h1, h2{
    color: white;
}

.catalogo{
    display: flex;
    overflow-x: scroll;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    margin-bottom: 20px;
}


.item{
    margin-right: 15px;
}
