@charset "UTF-8";


#menu{
    position: fixed;
   background-image: linear-gradient(to bottom, black, transparent);
    text-align: right;
    width: 99vw;
    margin: 0px;
    padding: 20x 10px;
    
    
}
#series, #filmes{
    margin: 20px 0px;
}
nav{
    float: left;
    text-align: left;
    padding: 10px 20px;
}
#menu a{
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    
}
#menu a:hover{
    text-decoration: underline;
}
#conta img{
    width: 40px;
    height: 40px;
    padding: 10px;

}
#usuario{
    
    background-color: black;
    text-align: left;
    width: 200px;
    
}
#principal{
 width: 99vw;
 height: 50vh;
background-image: url("imagens/dexter-.jpg");
background-size: cover;
background-position: center center;
}

#play{
    background-color: white;
    color: black;
    width: 60px;
    border-radius: 8px;
    padding: 7px;
    height: 20px;
   
}
#play>a{
    text-decoration: none;
}
div{
    width: 50px;
    height: 50px;
    background-color: red;
}