@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 1, 16);
    background-attachment: fixed;
    height: 100vh;
    
}
a, img:hover{
    cursor: pointer;
    
}
.carousel-item img:hover{
    cursor: default;
}
#Iinicio{
    /*adiciona uma imagem de fundo*/
    /* background-image: url("../image/johnwick4_4_H.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    box-shadow: inset 13px -15px 20px  rgb(0, 0, 0);*/
   
}
#Iinicio aside{
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.853);
    min-width: 300px;
    text-align: justify;
    padding: 15px;
    margin-left: 4vw;

    top: 50%;
}
#Iinicio h1{
    
    font-size: 7vw;
    color: white;
}

.carousel-inner img{
    width: 100vw;
    height: 100%;
    box-shadow: inset 13px -15px 20px  rgb(0, 0, 0); 
}

.play{
    display: inline;
    background-color: white;
    outline: 0.5px solid rgba(128, 128, 128, 0.441);
    color: black;
    text-align: center;
    text-shadow: none;
    font-weight: bold;
    font-size: 3vw;
    border-radius: 4px;
    padding: 10px 13px;
    margin-right: 10px;
    
}
.play a{
    text-decoration: none;
    color: black;
}
.play:hover{
background-color: rgba(255, 255, 255, 0.712);
}

.info{
    display: inline;
    background-color: rgb(96, 95, 95);
    text-align: center;
    text-shadow: none;
    font-weight: bold;
    max-width: 9vw;
    font-size: 3vw;
    border-radius: 4px;
    padding: 10px 13px;
    margin-top: 10px;  
}
.info a{
    color: white;
    text-decoration: none;
}

.info:hover{
    background-color: rgba(96, 95, 95, 0.567);
    transition-duration: 0.2s;
}

main{
    padding-left: 3%;
    margin-top: 20px;
}
menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    background-image: linear-gradient(to bottom, black, transparent);
    padding: 10px;

    position: fixed;
    top: 0px;
    text-align: right;
    width: 100vw;
    height: 53px;
    margin: 0px;
    
    
}
.corPadrao{
    background-image: linear-gradient(to bottom, black, transparent);

}
.modoEscuro{
    background-color: rgb(5, 1, 16);
}
nav{
    float: left;
    text-align: left;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 19px;
}
menu a{
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    
}
menu a:hover{
    text-decoration: none;
}
menu nav a:hover{
    text-decoration: none;
    color: rgb(163, 162, 162);
}

/*estilo das imagens que estão dentro do "elementosDireita"*/
.elementosDireira img{

    width: 45px;
    height: 45px;
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 10px;

}

.elementosDireira{
    display: flex;
    float: right;
    margin-right: 0.2%;

}
.elementosDireira li{
   display: block;
}
.elementosDireira ul{
   list-style: none;
   margin: 0px;
   padding: 0px;

}
#dropdownMenuLink{
    background-color: rgba(0, 0, 0, 0.785);
    margin-top: 5px; 
    padding: 2px;
}
#dropdownMenuLink img{
    width: 30px;
    height: 30px;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.785); 
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    background-color: transparent;
    text-decoration: none;
    color: rgb(163, 162, 162);
}

.elementosEsquerda{
    display: flex;
}
#conta {
  position: relative;

}
/*ao passar o mause por cima da div "conta" a div "usuario" terá a altura informada*/
#conta:hover #usuario{
    height: 90px;
}

#usuario{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.785);
    text-align: left;
    width: 180px;
    height: 0px;
    /*oculta os elementos vazados da caixa*/
    overflow: hidden;
    
    
    left: -100%;
    transform: translateX(-50%);
    border-radius: 7px;
}

#usuario div{
    display: flex;
    align-items: center;
    padding: 5px;
    padding: 5px;
    
}
#usuario a{
   padding: 5px;
   margin-left: 5px;
   padding: 5px;
   margin-left: 5px;
}

#usuario a:hover{
    text-decoration: underline;
    color: white;
}
hr{
    color: white;
    padding: 0px;
    padding: 0px;
    margin: 5px;
}
h1, h2{
    color: white;
}
@media screen and (min-width: 968px) {
    .carousel-inner img{
        height: 100vh;
    }

}
@media screen and (max-width: 578px){
    .play, .info, aside {
        font-size: 3vw;
    
    }
    .logo-container h1{
      font-size: 1.4rem;  
    }
    .logo-container img{
        width: 30px;
        height: 30px;
    }
    #navegacao{
        display: none;
    }
    }
    
    @media screen and (min-width: 578px) {
        .play, .info{
            font-size: 18px;
        }
        .dropdown{
            display: none;
        }
}
